@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 350px;
  background-color: #171717;
}

input, select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #3b6fc3;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #7b9fd8;
}

button:active {
  background-color: #2f538d;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: white;
  gap: 15px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 280px;
}

.input-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.input-control label {
  flex: 1 1 0;
}

.input-control input,
.input-control select {
  flex: 2 1 0;
}

#form button {
  width: 100%;
  margin-top: 10px;
}

#form #start {
  margin-right: 5px;
}
